<div class="cell panel" id="track<%= track.id %>">
  <div class="gradient header">
    <%= track.name %>
  </div>
  <div class="body">
    <div class="cell">
      <div class="col size6of8">
        <% if readonly %>
          <div class="cell">
            <%= render :partial => 'users/userlink', :locals => { :user => track.user } %>
          </div>
        <% end %>
        <%= render :partial => 'tracks/place', :locals => { :track => track } %>
        <div class="cell">
          <%= render :partial => 'tracks/info', :locals => { :track => track } %>
        </div>
      </div>
      <div class="col sizefill" style="text-align:right">
        <a href="#" onclick='mapView.addTrack("/tracks/<%= track.id %>.xml", "<%= track.name %>")' class="icon icon-eye-open"> show</a>
        <br />
        <% unless readonly %>
          <%= link_to ' edit', edit_track_path(track), :class => 'icon icon-edit', :remote => true, :'data-target' => '#track'+track.id.to_s %><br />
          <%= link_to ' destroy', track, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'icon icon-remove' %>
        <% end %>
      </div>
    </div>
    <div class="cell">
      <!-- TODO fill in some information about the track -->
    </div>
  </div>
</div>
