<p id="notice"><%= notice %></p>

<h1><%= @track.name %></h1>

<label><input type="checkbox" id="autorefresh" onchange="mapView.setAutoRefresh(this.checked)" />AutoRefresh</label>
<!--
TODO move
<div class="site-header-fixture">
  <div style="width:640px; height:480px" id="map" class="site-header"></div>
</div>
-->

<% if @track.user_id == current_user.id %>
  <%= link_to 'Edit', edit_track_path(@track) %> |
<% end %>
<%= link_to 'Back', tracks_path %>

<!--
<script type="text/javascript">
	/*TODO move */
	mapView = new MapView("map", "<%= @track.name %>", "<%= @track.id %>.xml");
	mapView.setAutoRefresh($("#autorefresh").is(":checked"));
</script>
-->
