<%= form_for(@coordinate) do |f| %>
  <% if @coordinate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@coordinate.errors.count, "error") %> prohibited this coordinate from being saved:</h2>

      <ul>
      <% @coordinate.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :track_id %>
    <%= select("coordinate", "track_id", Track.all.collect {|t| [ t.name, t.id ]}, {:include_blank => "--"}) %>
  </div>
  <div class="field">
    <%= f.label :latitude %>
    <%= f.number_field :latitude %>
  </div>
  <div class="field">
    <%= f.label :longitude %>
    <%= f.number_field :longitude %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
