<p id="notice"><%= notice %></p>

<p>
  <b>Latitude:</b>
  <%= @coordinate.latitude %>
</p>
<p>
  <b>Longitude:</b>
  <%= @coordinate.longitude %>
</p>
<p>
  <b>Elevation:</b>
  <%= @coordinate.elevation %>
</p>

<%= mapi_coordinate(@coordinate).html_safe %>

<%= link_to 'Edit', edit_coordinate_path(@coordinate) %> |
<%= link_to 'Back', coordinates_path %>
