<h1>All about me…</h1>

<h2>Data</h2>
<p>name: <%= @user.name %></p>
<p>email: <%= @user.email %></p>

<h2>Friends</h2>
<% friends = @user.friends %>
<% unless friends.empty? %>
  <% friends.each do |friend| %>
    <p><%= render :partial => 'users/userlink', :locals => {:user => friend} %></p>
  <% end %>
<% end %>

<% incoming = @user.friendships_as_consumer.select{|f| !f.confirmed?} %>
<% outgoing = @user.friendships_as_initiator.select{|f| !f.confirmed?} %>
<% unless [incoming, outgoing].empty? %>
  <h3>Requests</h3>
    <% unless incoming.empty? %>
      <div class="col size1of2">
        <div class="cell panel">
          <div class="header">
            Incoming
          </div>
          <% incoming.each do |friendship| %>
            <div class="body">
              <div class="cell">
                From <%= render :partial => 'users/userlink', :locals => {:user => friendship.initiator} %>,
                requested at <%= friendship.created_at %>
              </div>
              <%= form_for friendship, :url => { :action => "confirm_friendship", :id => friendship.id } do |f| %>
                <%= f.submit "Confirm" %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
    <% unless outgoing.empty? %>
      <div class="col size1of2">
        <div class="cell panel">
          <div class="header">
            Outgoing
          </div>
          <div class="body">
            <% outgoing.each do |friendship| %>
              <div class="cell">
                To <%= render :partial => 'users/userlink', :locals => {:user => friendship.consumer} %>,
                requested at <%= friendship.created_at %></p>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
<% end %>
