<!DOCTYPE html>
<html>
<head>
  <title>MapTrack</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
    mapView = new MapView("mapView");
    $(function() {
    	showMessage("<%= notice %>");
    	showError("<%= alert %>");
    });
  </script>
</head>
<body>
<div class="background-white" id="overlay"></div>

<div class="site-header">
  <div class="col size7of8">
    <div class="cell">
      <span class="fatty">MapTrack</span>&nbsp;
      <span id="error" class="label background-red"></span>
      <span id="notice" class="label background-blue"></span>
    </div>
  </div>

  <div class="col sizefill" style="text-align:right">
    <div class="cell">
      <% if current_user != nil %>
        <%= link_to "", user_path, :class => 'icon icon-32 icon-user color-white', :remote => true %>
        <%= link_to "", destroy_user_session_path, :method => 'delete', :class => 'icon icon-32 icon-off color-white' %>
      <% end %>
    </div>
  </div>
</div>

<div class="site-body centered-content">
<div class="cell">
  <div class="col" id="main">
    <div class="cell" style="float:right">
    	<span id="resizer" class="icon icon-32" style="cursor:pointer" onclick="resize()"></span>
    </div>
    <div class="cell">
      <%= yield %>
    </div>
  </div>

  <div class="col sizefill ">
    <div class="cell">
    	<div id="mapmenu"></div>
    </div>
    <div style="width:100%; height:480px" id="map"></div>
    <script type="text/javascript">
      mapView.setMenuContainer("mapmenu", "nav", "label");
      mapView.setMapContainer("map");
      //TODO show something on the map (initially)
    </script>
  </div>
</div>
</div>

<div class="site-center site-footer">
  <div class="col sizefill">
    <div class="cell">
      MapTrack
    </div>
  </div>
</div>
</body>
</html>
